<!doctype html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Starwars Database</title>
  <meta name="A basic Star Wars Database" content="">
  <meta name="Travis Nykaza" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <link rel="icon" type="image/png" href="static/images/favicon.png">-->

</head>
<body>
  <div class="navigation">
    <nav class="primary container">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/view-characters">Characters</a></li>
        <li><a href="/view-planets">Planets</a></li>
        <li><a href="/view-species">Species</a></li>
        <li><a href="/view-factions">Factions</a></li>
        <li><a href="/view-ships">Ships</a></li>
        <li><a href="/view-service">Service</a></li>
        <li><a href="/view-leaders">Faction Leaders</a></li>
        <li><a href="/search-sum">Search & Sum</a></li>
    </nav>
  </div>
	{{{body}}}


  <!-- JAVASCRIPT
  --> <script src="/javascript/client.js"></script>
</body>
</html>