<div class ="container" id="factions-page">
	<h1>Home Page</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody id="table-body">
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.name}}</td>
			</tr>
		</tbody>
	</table>

	<br>

	<form>

		<label>Name</label>
		<input id="name">

		<input type="submit" value = "Submit" id="submit-data-factions"/>
	</form>
</div>