<div class ="container">
	<h1>Welcome to the Star Wars Database</h1>
	<h3>Instructions</h3>
	<ul>
		<li><h6>Use the menu above to navigate. It will be on each page.</h6></li>
		<li><h6>Each individual page has a submit form to add new data to the pages table and a select all query returning all the current data from that table</h6></li>
		<li><h6>The Search & Sum page contains the search functionality with the character table where you can search for a character by name and a sum functinonality which returns the current population of all the planets currently in the database.</h6></li>
	</ul>

</div>