<div class ="container" id="service-page">
	<h1>Ship Service</h1>
	<table>
		<thead>
			<tr>
				<th>Character</th>
				<th>Ship</th>
			</tr>
		</thead>
		<tbody id="table-body">
			<tr>
				<td>{{this.cid}}</td>
				<td>{{this.sid}}</td>
			</tr>
		</tbody>
	</table>

	<br>

	<form>

		<label>Character ID</label>
		<select id="dropdown-characters"></select>

		<label>Ship ID</label>
		<select id="dropdown-ships"></select>

		<input type="submit" value = "Submit" id="submit-data-service"/>
	</form>
</div>