<div class ="container" id="ships-page">
	<h1>Home Page</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Class</th>
				<th>Crew</th>
			</tr>
		</thead>
		<tbody id="table-body">
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.name}}</td>
				<td>{{this.class}}</td>
				<td>{{this.crew}}</td>
			</tr>
		</tbody>
	</table>

	<br>

	<form>

		<label>Name</label>
		<input id="name">
				
		<label>Class</label>
		<input id="class">

		<label>Crew</label>
		<input type="number" id="crew">

		<input type="submit" value="Submit"/>

	</form>
</div>