<div class ="container">
	<h1>Species Page</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Leader</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.name}}</td>
				<td>{{this.leader}}</td>
			</tr>
		</tbody>
	</table>

	<br>
	<h3>Add New Species</h3>
	<form>

		<label>Name</label>
		<input placeholder="Mon Calamari" id="name">

		<label>Language</label>
		<input placeholder="Mon Calamarian" id="language">


		<input type="submit" value="Submit" id="submit-data-species"/>
	</form>
</div>