<div class ="container">
	<h1>Home Page</h1>
	<table>
		<thead>
			<tr>
				<th>Test Header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{this.}}</td>
			</tr>
		</tbody>
	</table>

	<br>

	<form action="http://localhost:3012/" method="POST">

		<label>Test Form</label>
		<input value="{{this.name}}">

		<input type="submit" value="Submit"/>
	</form>
</div>